%h1 Welcome
%h1 Menu


#container
 .box 
%h1.someClass Starters

.StartersList
%h3 Braised Mussels
%p Fresh Prince Edward mussels braised in our garlic white wine sauce.
%p 367 SEK

.StartersList
%h3 Paddy's Fried Mushrooms
%p Fresh baby portabello mushrooms dipped in Paddy's Guinness beer batter.
%p 383 SEK

.StartersList
%h3 Black and Tan Onion Rings
%p A large basket of real beer-battered onion rings served with our house dipping sauce.
%p 373 SEK


%h1.someClass Main Course
%h1.someClass Desserts




  
